# Logs
logs
*.log
*.log*

# Production
dist
dist-ssr
build

# submodules
apps
packages

# Development
node_modules
*.local
package-lock.json
yarn.lock

# Editor & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
